.card {
  background: gray;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card:hover {
  /* background-color: pink; */
  animation: color-me-sequence 25s; /* time it takes for the complete animation to complete */
  animation-iteration-count: 25; /* will continue for roughly 15 minutes or so */
}

.card > .img-container {
  height: 70%;
  overflow: hidden;
  text-align: center;
  /* background:#6CADDC; */
  background: #d50000;
}
.card > .img-container > img {
  /* width: 60% */
  height: 100%;
  width: 100%;
  padding: 2% 2% 2% 2%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  /* Initially tried making visibility hidden ("visibility: hidden;"), then it will not recognize the clicks. Making the color transparent was the better approach. */
  /* color: #ff1744; */
  /* color: blue; */
  color: transparent;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.card > .remove:hover {
  /* color: #d50000; */
  /* color: blue; */
  color: transparent;
}


/* Start background animation section*/
@keyframes color-me-sequence
{
  /* Starts with base color --- step 1 */
  0%
  {
    background: #DC143C;
  }
  10%
  {
    background: #ec7676;
  }
  /* Begins transition to next color at 20% */
  20%
  {
    background: #ff8000;
  }
  30%
  {
    background: #14dcb4;
  }
  /* Begins transition to next color at 40% */
  40%
  {
    background: #800080;
  }
  50%
  {
    background: #f47442;
  }
  /* Begins transition to next color at 60% */
  60%
  {
    background: #8E3843;
  }
  70%
  {
    background: #ff8000;
  }
  /* Begins transition to next color at 80% */
  80%
  {
    background: #14dcb4;
  }
  90%
  {
    background: #DC143C;
  }
  /* Begins transition to next color at 100% and completes sequence --- step 4 */
  100%
  {
    background: #ec7676;
  }
}
